.blogPosting-title {
    h1 {
        margin: 0 0 0 0 !important;
    }
    time {
        font-size: 0.5rem;
    }
}
.blogPosting-text {
    h1, h2 {
        text-align: center;
    }
}
.blogPosting-featured_image {
    width: 100%;
    height: 600px;
    height: 100vh;
    background-size: cover;
    background-position: top center;
}
@media screen and (max-width: 600px) {
    .blogPosting-featured_image {
        height: 400px;
        height: 60vh;
    }
}
