.fluid-width-video-wrapper {
    margin-bottom: 1.5em;
}

.header-link {
  position: absolute;
  left: -1.3em;
  opacity: 0;
  color: $font_color;
  text-decoration: none !important;
  font-size: 0.85em;

  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
