{% extends "base.html" %}

{% block page_class %} article page-single {% if article.featured_image %}has-featured-image{% endif %} {{article.category}}{% endblock page_class %}

{% block title -%}
{{ article.title|striptags|e }}{%if article.subtitle %} - {{ article.subtitle|striptags|e }}{% endif %} · {{ super() }}
{%- endblock title %}

{% block head_meta_tag %}
<meta name="description" content="{{article.summary|striptags|e}}">
<meta name="date" content="{{article.date}}">

{% if article.tags or article.category or article.keywords -%}
<meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
{{ super() }}
{%- endif %}

{% from 'modules/smo_metadata.html' import smo_metadata with context %}
{{ smo_metadata(article) }}

{% endblock head_meta_tag %}

{% block featured_image %}
{% if article.featured_image %}
    <div class="blogPosting-featured_image" style="background-image: url({{article.featured_image}})">
        <div class="featured_image--info_box">
            <h1 itemprop="headline">{{ article.title }}</h1>
            <p class='summary'>{{ article.summary }}</p>
            <p>IN {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </p>
            <time datetime="{{article.date}}" itemprop="datePublished">{{ article.date.strftime('%B %d, %Y') }}</time>.
        </div>
    </div>
{% endif %}
{% endblock featured_image %}

{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting" class='blogPosting' data-progress-indicator>
  {% if not article.featured_image %}

    <header id="article_title" class='article__header title blogPosting-title'>
        <ul class="article__info">
          <li><time datetime="{{article.date}}" itemprop="datePublished">{{ article.locale_date }}</time></li>
          {% if article.readtime %}
            <li>{{ article.readtime_string }}</li>
          {% endif %}
          {% if article.tags %}
          <li class="article__tags">
            {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </li>
          {% endif %}
        </ul>
        <h1 itemprop="headline">{{ article.title }}</h1>
    </header>
  {% endif %}
  <div id="article_text" itemprop="articleBody" class='article__content'>
    {{ article.content }}
  </div>

  {% if not article.featured_image %}
  <div id="article_meta" class='blogPosting-meta'>
    <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </p>
  </div>
  {% endif %}
</article>
{% endblock %}

{% block footer %}
<p><a href="{{ SITEURL }}/" class="button_accent">&larr; Back</a></p>
{% include "modules/reframe.html" %}
<script>
(function(window, document) {
    const progressIndicatorForElement = document.querySelector('[data-progress-indicator]');
    if (!progressIndicatorForElement) {
        return;
    }

    const progressElement = document.createElement('div');
    progressElement.setAttribute('role', 'presentation');
    progressElement.classList.add('progress-indicator');

    // Initial position.
    progressElement.style.left = "-100%";
    progressElement.style.transform = "translateX(-100%)";

    document.body.appendChild(progressElement);

    let lastKnownScrollPosition = 0;
    let ticking = false;

    window.addEventListener('scroll', function(e) {
        lastKnownScrollPosition = window.scrollY;
        if (ticking) {
            return;
        }
        window.requestAnimationFrame(function() {
            var offset = Math.min(100, lastKnownScrollPosition / (progressIndicatorForElement.scrollHeight - window.innerHeight) * 100);
            progressElement.style.transform = `translateX(${offset}%)`;
            ticking = false;
        });
        ticking = true;
    });
})(window, document);
</script>
{% endblock %}
