<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" itemscope="" itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8" />

  <title> {% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
  <meta itemprop="creator" name="author" content="{{ AUTHOR }}">
  <meta itemprop="description" name="description" content="Thoughts, Ideas and writings by {{ AUTHOR }}">

  {% include "modules/pace.html" %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|PT+Mono">


  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}

  {% block head %}
  {% endblock %}



  {% include "modules/analytics.html" %}
</head>

<body class="{% block page_class %}{% endblock %}">
  {% block sidebar %}
  <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">MENU</a></div>
      <ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}{% for p in pages %}
            <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}{% endif %}
        {% for name, link in LINKS %}
            <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
        {% for name, link in SOCIAL %}
            <li><a class="dr-icon" href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
      </ul>
  </nav>

  {% endblock sidebar %}

  <main>

    {% block content %}
    {% endblock %}

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    <div id="ending_message">
      <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US">Creative Commons Attribution 4.0 International License</a>.<br/>
      Built using <a href="http://getpelican.com" target="_blank">Pelican</a>. Theme by Saurabh Kumar on <a href="https://github.com/theskumar/pelican-svbtle-responsive" target="_blank">github</a>. {% if INTERNET_DEFENSE_LEAGUE %}Member of the <a href="http://internetdefenseleague.org">Internet Defense League</a>{% endif %}.</p>
    </div>

    <div class='site_info'>
      <a href="{{ SITEURL }}" class='logo'>
        {% if USER_LOGO_URL %}
            <img src="{{ USER_LOGO_URL }}" alt="logo">
        {% else %}
            <img src="{{ SITEURL }}/theme/images/logo.png" alt="logo">
        {% endif %}
      </a>
      <div class="info">
        <h2><a href="{{ SITEURL }}">{{ SITENAME }}</a></h2>
        <p>{{ TAGLINE }}</p>
      </div>
    </div>

  </main>
  {% include "modules/idl.html" %}
  {% include "modules/copy_text_plus.html" %}
  <script>
    var YTMenu = (function() {

        function init() {

            [].slice.call( document.querySelectorAll( '.dr-menu' ) ).forEach( function( el, i ) {

                var trigger = el.querySelector( 'div.dr-trigger' ),
                    icon = trigger.querySelector( 'span.dr-icon-menu' ),
                    open = false;

                trigger.addEventListener( 'click', function( event ) {
                    if( !open ) {
                        el.className += ' dr-menu-open';
                        open = true;
                    }
                }, false );

                icon.addEventListener( 'click', function( event ) {
                    if( open ) {
                        event.stopPropagation();
                        open = false;
                        el.className = el.className.replace(/\bdr-menu-open\b/,'');
                        return false;
                    }
                }, false );
            } );
        }
        init();
    })();
  </script>
</body>
</html>
