{% extends "base.html" %}
{% block title %}{{ SITENAME }} — Blog{% endblock %}
{% block content %}

<section itemscope itemtype="http://schema.org/Blog">
{% for article in articles_page.object_list %}
<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  <div id="article_title">
    <h2 itemprop="headline"><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h2>
  </div>
  <div id="article_text" itemprop="text">
    {{ article.summary }}
  </div>
</article>
{% if not loop.last %}
<hr />
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
{% include "modules/pagination.html" %}
</section>

{% endblock %}
